{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container">
        <div class="row m-2">
            <h1>Register</h1>
        </div>
        <div class="row m-2 p-2">
            {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_label(registrationForm.email, 'Email', {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {# {{ form_row(registrationForm.plainPassword) }} #}
                {{ form_label(registrationForm.plainPassword, 'Password', {'attr': {'class': 'form-control'}}) }}
                {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-check">
                {# {{ form_row(registrationForm.agreeTerms) }} #}
                
                {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(registrationForm.agreeTerms, 'Agree to terms', {'attr': {'class': 'mr-2'}}) }}
            </div>

            <button class="btn btn-secondary mt-2">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
