{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-2 mb-3">
            <div class="col"></div>
            <div class="col">
                <h2>Welcome</h2>
            </div>
            <div class="col"></div>
        </div>

        <div class="row p-3">
            <form action="{{ path('calculate') }}" method="post">
                <div class="form-group">
                    <label for="a">a</label>
                    <input type="number" class="form-control" id="a" name="a" required>
                </div>
                <div class="form-group">
                    <label for="b">b</label>
                    <input type="number" class="form-control" id="b" name="b" required>
                </div>
                <select class="form-control" id="operation" name="operation">
                    <option value="add" name="operation">add</option>
                    <option value="subtract" name="operation">subtract</option>
                    <option value="divide" name="operation">divide</option>
                    <option value="multiply" name="operation">multiply</option>
                </select>
                <button class="btn btn-primary mt-3">Calculate</button>
            </form>
        </div>

    </div>
{%  endblock %}